<h4><%= @gift.name %></h4>
  <ul>
    <li>$<%= @gift.price %></li>
    <li>Category: <%= @gift.category %></li>
  </ul>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_tag "/giftlists/add" do %>
  <%= select_tag "giftlist", options_from_collection_for_select(@giftlists, "id", "name") %>
  <%= hidden_field_tag "gift", @gift.id %>
  <%= submit_tag "Add to Giftlist" %>
<% end %>

<h2>Tags</h2>

<% @gift.tags.each do |tag| %>
  <ul>
    <li><%= tag.name %></li>
  </ul>
<% end %>
