<h1>New Giftlist</h1>

<%= simple_form_for [current_user, @giftlist] do |f| %>

  <%= f.input :name %>
  <%= f.input :note %>
  <%= f.input :giftee, label: "Who is this list for?" %>
  <%= f.button :submit %>

<% end %>
