<h1><%= @giftlist.name %></h1>

<p>Gift recipient: <%= @giftlist.giftee %></p>

<p><%= @giftlist.note %></p>

<%= @giftlist.id %>

<% @giftlist.gifts.each do |gift| %>
  <p><%= gift.name %></p>
<% end %>

<%#= link_to "Edit Giftlist", [:edit, current_user, @giftlist] %>
<p><%= link_to "Edit Giftlist", edit_giftlist_path(@giftlist) %></p>
