<% if current_user %>
  <div id="navbar">
    <div class="navbar-left">
      <%= link_to "Giftlistr", root_path %> <%= link_to "Search for Gifts", gifts_path %>
    </div>
    <div class="navbar-right">
      <%= link_to "Edit Profile", edit_user_registration_path %> <%= link_to "Log Out", destroy_user_session_path, method: "delete" %>
    </div>
  </div>
<% else %>
  <div id="navbar">
    <div class="navbar-left">
      <%= link_to "giftlistr", root_path %>
    </div>
    <div class="navbar-right">
      <%= link_to "Sign Up", new_user_registration_path %> <%= link_to "Log In", new_user_session_path %>
    </div>
  </div>
<% end %>
