<!DOCTYPE html>
<html>
<head>
  <title>Giftlistr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div><%= link_to "Home", root_path %> | <%= link_to "User Index", users_path %> | <%= link_to "Gift Index", gifts_path %> | <%#= link_to "Giftlists", user_giftlists_path(@giftlist) %></div>
<%= yield %>

</body>
</html>
