<!DOCTYPE html>
<html>
<head>
  <title>Giftlistr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <div><%= link_to "Home", root_path %> | <%= link_to "User Index", users_path %> | <%= link_to "Gift Index", gifts_path %> | <%= link_to "Giftlists", user_giftlists_path(current_user.id) %> | <%= link_to "New Giftlist", new_user_giftlist_path(current_user.id) %> | <%= link_to "Tag Index", tags_path %> | <%= link_to "New Tag", new_tag_path %></div>
  <% else %>
    <%= link_to "Sign Up", new_user_registration_path %> | <%= link_to "Log In", new_user_session_path %>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
